---
title: Tööhõive kinnitamise i9 kinnitamine
description: Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ab03e28b3e42d02395da01024bc3bcf4dbcd5abf
ms.sourcegitcommit: b112925c389a460a98c3401cc2c67df7091b066f
ms.translationtype: HT
ms.contentlocale: et-EE
ms.lasthandoff: 12/19/2020
ms.locfileid: "4798090"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="1f828-103">Tööhõive kinnitamise i9 kinnitamine</span><span class="sxs-lookup"><span data-stu-id="1f828-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="1f828-104">Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist.</span><span class="sxs-lookup"><span data-stu-id="1f828-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="1f828-105">See protseduur annab ülevaate I-9 kontrollimiseks vajalike dokumentide registreerimise kohta.</span><span class="sxs-lookup"><span data-stu-id="1f828-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="1f828-106">Kasutage selle protseduuri puhul ettevõtet USMF.</span><span class="sxs-lookup"><span data-stu-id="1f828-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="1f828-107">Avage Personaliarvestus > Töötajad > Töötajad.</span><span class="sxs-lookup"><span data-stu-id="1f828-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="1f828-108">Saate kirjete leidmiseks kasutada valikut Kiirfilter.</span><span class="sxs-lookup"><span data-stu-id="1f828-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="1f828-109">Näiteks saate filtrida välja Nimi väärtuse Vince järgi.</span><span class="sxs-lookup"><span data-stu-id="1f828-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="1f828-110">Valige töötaja.</span><span class="sxs-lookup"><span data-stu-id="1f828-110">Select the employee.</span></span> <span data-ttu-id="1f828-111">Näide: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="1f828-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="1f828-112">Laiendage kiirkaarti Isikuandmed.</span><span class="sxs-lookup"><span data-stu-id="1f828-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="1f828-113">Klõpsake suvandit ID-koodid.</span><span class="sxs-lookup"><span data-stu-id="1f828-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="1f828-114">Klõpsake Uus.</span><span class="sxs-lookup"><span data-stu-id="1f828-114">Click New.</span></span>
7. <span data-ttu-id="1f828-115">Valige tuvastamise tüüp, mille registreerite.</span><span class="sxs-lookup"><span data-stu-id="1f828-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="1f828-116">Näide: pass</span><span class="sxs-lookup"><span data-stu-id="1f828-116">Example: Passport</span></span>
8. <span data-ttu-id="1f828-117">Sisestage väärtus väljale Arv.</span><span class="sxs-lookup"><span data-stu-id="1f828-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="1f828-118">Valige väljal Esmane üksus Jah.</span><span class="sxs-lookup"><span data-stu-id="1f828-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="1f828-119">Sisestage väljale Kirjeldus ID-kirje lühikirjeldus.</span><span class="sxs-lookup"><span data-stu-id="1f828-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="1f828-120">Valige väljastanud asutuses esindus, mis töötajale tuvastamisvormi väljastas.</span><span class="sxs-lookup"><span data-stu-id="1f828-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="1f828-121">Näide: valitsus</span><span class="sxs-lookup"><span data-stu-id="1f828-121">Example: Government</span></span>
12. <span data-ttu-id="1f828-122">Sisestage kuupäev, mil väljastanud asutus töötajale tuvastamisvormi väljastas.</span><span class="sxs-lookup"><span data-stu-id="1f828-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="1f828-123">Näide: 15.02.2011</span><span class="sxs-lookup"><span data-stu-id="1f828-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="1f828-124">Sisestage tuvastamisvormi aegumise kuupäev.</span><span class="sxs-lookup"><span data-stu-id="1f828-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="1f828-125">Näide: 15.2.2021</span><span class="sxs-lookup"><span data-stu-id="1f828-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="1f828-126">Klõpsake nuppu Salvesta.</span><span class="sxs-lookup"><span data-stu-id="1f828-126">Click Save.</span></span>
15. <span data-ttu-id="1f828-127">Sulgege leht.</span><span class="sxs-lookup"><span data-stu-id="1f828-127">Close the page.</span></span>
16. <span data-ttu-id="1f828-128">Klõpsake vahekaarti Tööhõive.</span><span class="sxs-lookup"><span data-stu-id="1f828-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="1f828-129">Klõpsake suvandit I-9.</span><span class="sxs-lookup"><span data-stu-id="1f828-129">Click I-9.</span></span>
18. <span data-ttu-id="1f828-130">Klõpsake valikut Uus.</span><span class="sxs-lookup"><span data-stu-id="1f828-130">Click New.</span></span>
19. <span data-ttu-id="1f828-131">Valige suvand Töökõlblikkus.</span><span class="sxs-lookup"><span data-stu-id="1f828-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="1f828-132">Kui töötaja pole Ameerika Ühendriikide kodanik või elanik, peate sisestama töötaja välismaalase- või tunnustusnumbri.</span><span class="sxs-lookup"><span data-stu-id="1f828-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="1f828-133">Valige suvand GroupListA.</span><span class="sxs-lookup"><span data-stu-id="1f828-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="1f828-134">Loendi valik sõltub sellest, millise isikut tõendava dokumendi töötaja esitas.</span><span class="sxs-lookup"><span data-stu-id="1f828-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="1f828-135">Töötaja peab esitama ühe loendi A dokumendi või ühe dokumendi loenditest B ja C. Kui töötaja esitas näiteks passi, siis saab valida loendi A.</span><span class="sxs-lookup"><span data-stu-id="1f828-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="1f828-136">Kui töötaja esitas aga juhiloa ja sotsiaalkindlustuse kaardi, tuleb valida loend B ja loend C.</span><span class="sxs-lookup"><span data-stu-id="1f828-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="1f828-137">Valige töötaja esitatud dokumenditüüp väljalt I-9 dokumenditüüp.</span><span class="sxs-lookup"><span data-stu-id="1f828-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="1f828-138">Sisestage või valige väärtus väljal Dokumendi number.</span><span class="sxs-lookup"><span data-stu-id="1f828-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="1f828-139">Klõpsake nuppu Salvesta.</span><span class="sxs-lookup"><span data-stu-id="1f828-139">Click Save.</span></span>

