---
title: Tööhõive kinnitamise i9 kinnitamine
description: Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065677"
---
# <a name="employment-verification-i9-verification"></a>Tööhõive kinnitamise i9 kinnitamine

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist. See protseduur annab ülevaate I-9 kontrollimiseks vajalike dokumentide registreerimise kohta. Kasutage selle protseduuri puhul ettevõtet USMF.

1. Minema **Inimressursid \> Töölised \> Töötajad**.
2. Saate kirjete leidmiseks kasutada valikut Kiirfilter. Näiteks filtreerige väärtuse järgi **Vince** Selle eest **Nimi** valdkonnas.
3. Valige töötaja. Näiteks valige **Vince Prado**.
4. Valige **Isiklik informatsioon** FastTab.
5. Valige **Identifitseerimisnumbrid**.
6. Valige suvand **Uus**.
7. Valige identifitseerimistüüp, mida salvestate. Näiteks valige **Pass**.
8. Aastal **Number** väljale, sisestage väärtus.
9. Aastal **Esmane** väli, valige **Jah**.
10. Aastal **Kirjeldus** väljale sisestage identifitseerimiskirje lühikirjeldus.
11. Aastal **Väljastav asutus** väljal valige asutus, kes töötajale isikut tõendava dokumendi väljastas. Näiteks valige **valitsus**.
12. Sisestage kuupäev, millal väljastanud asutus töötajale isikut tõendava dokumendi vormi väljastas. Näiteks sisestage **15.02.2011** (15. veebruar 2011).
13. Sisestage tuvastamisvormi aegumise kuupäev. Näiteks sisestage **15.02.2021** (15. veebruar 2021).
14. Valige käsk **Salvesta**.
15. Sulgege leht.
16. Valige **Tööhõive** sakk.
17. Valige **I-9**.
18. Valige suvand **Uus**.
19. Aastal **Töökõlblikkus** valige suvand.

    Kui töötaja ei ole Ameerika Ühendriikide kodanik või kodanik, peate sisestama töötaja alalise välismaalase või sissepääsunumbri.

20. Valige **RühmaloendA** valik.

    Teie valitud loend sõltub töötaja esitatud identifitseerimisvormist. Töötaja peab esitama kas ühe dokumendi loendist A või ühe dokumendi nii loendist B kui ka loendist C. Näiteks kui töötaja esitas passi, saate valida loendi A. Kui aga töötaja esitas ainult juhiloa ja sotsiaalkindlustuse kaardil, peate valima loendi B ja loendi C.

21. Aastal **I-9 dokumenditüüp** valige töötaja esitatud dokumendi tüüp.
22. Aastal **Dokumendi number** väljale, sisestage või valige väärtus.
23. Valige käsk **Salvesta**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
