---
title: Tööhõive kinnitamise i9 kinnitamine
description: Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: HT
ms.contentlocale: et-EE
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964879"
---
# <a name="employment-verification-i9-verification"></a>Tööhõive kinnitamise i9 kinnitamine

[!include [banner](../../../includes/banner.md)]

Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist. See protseduur annab ülevaate I-9 kontrollimiseks vajalike dokumentide registreerimise kohta. Kasutage selle protseduuri puhul ettevõtet USMF.

1. Minge inimressursside **töötajate \>\> töötajale**.
2. Saate kirjete leidmiseks kasutada valikut Kiirfilter. Filtreerige näiteks filter välja **Nimi** väärtuse **Järgi**.
3. Valige töötaja. Näiteks valige Saate valida **soovitud** päevad.
4. Valige **isikuandmete** kiirkaart.
5. Saate valida **ID-numbrid.**
6. Valige suvand **Uus**.
7. Valige ID tüüp, mida salvestate. Näiteks valige **pass**.
8. Sisestage **väärtus** väljale Number.
9. Väljal **Esmane** valige **Jah**.
10. Sisestage **väljale** Kirjeldus ID-kirje lühikirjeldus.
11. Väljal **Väljastav** asutus valige asutus, mis väljastas töötajale ID vormi. Näiteks valige **Valitsus**.
12. Sisestage kuupäev, mil väljaandev asutus väljastas töötajale ID-vormi. Näiteks sisestage **02/15/2011** (15. veebruar 2011).
13. Sisestage tuvastamisvormi aegumise kuupäev. Näiteks sisestage **2/15/2021** (15. veebruar 2021).
14. Valige käsk **Salvesta**.
15. Sulgege leht.
16. Valige vahekaart **Tööle** soovitud.
17. Valige **I-9.**
18. Valige suvand **Uus**.
19. Valige **suvand väljal** Töökõlblikkus.

    Kui töötaja ei ole Ameerika Ühendriikide kodanik või elanik, peate sisestama töötaja välismaalase- või vastuvõtunumbri.

20. Valige **Suvand GroupListA.**

    Teie valitud loend sõltub töötaja esitatud ID-vormist. Töötaja peab esitama kas ühe dokumendi loendist A või ühe dokumendi nii loendist B kui loendist C. Näiteks kui töötaja on andnud passi, saate valida loendi A. Kui aga töötaja on andnud ainult juhiloa ja sotsiaalkindlustuskaardi, peate valima loendi B ja loendi C.

21. Valige **I-9** dokumenditüübi väljal dokumendi tüüp, mille töötaja esitas.
22. Sisestage **või valige väärtus väljal Dokumendi** number.
23. Valige käsk **Salvesta**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
