--- 
title: "Töökohale sobivuse kontrollimine vormi I-9 abil"
description: "Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 7e0a5d044133b917a3eb9386773205218e5c1b40
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: et-ee
ms.lasthandoff: 09/29/2017

---
# <a name="employment-verification-using-form-i-9"></a><span data-ttu-id="c3871-103">Töökohale sobivuse kontrollimine vormi I-9 abil</span><span class="sxs-lookup"><span data-stu-id="c3871-103">Employment verification using form I-9</span></span>

[!include[task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="c3871-104">Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist.</span><span class="sxs-lookup"><span data-stu-id="c3871-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="c3871-105">See protseduur annab ülevaate I-9 kontrollimiseks vajalike dokumentide registreerimise kohta.</span><span class="sxs-lookup"><span data-stu-id="c3871-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="c3871-106">Kasutage selle protseduuri puhul ettevõtet USMF.</span><span class="sxs-lookup"><span data-stu-id="c3871-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="c3871-107">Avage Personaliarvestus > Töötajad > Töötajad.</span><span class="sxs-lookup"><span data-stu-id="c3871-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="c3871-108">Saate kirjete leidmiseks kasutada valikut Kiirfilter.</span><span class="sxs-lookup"><span data-stu-id="c3871-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="c3871-109">Näiteks saate filtrida välja Nimi väärtuse Vince järgi.</span><span class="sxs-lookup"><span data-stu-id="c3871-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="c3871-110">Valige töötaja.</span><span class="sxs-lookup"><span data-stu-id="c3871-110">Select the employee.</span></span> <span data-ttu-id="c3871-111">Näide: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="c3871-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="c3871-112">Laiendage kiirkaarti Isikuandmed.</span><span class="sxs-lookup"><span data-stu-id="c3871-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="c3871-113">Klõpsake suvandit ID-koodid.</span><span class="sxs-lookup"><span data-stu-id="c3871-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="c3871-114">Klõpsake Uus.</span><span class="sxs-lookup"><span data-stu-id="c3871-114">Click New.</span></span>
7. <span data-ttu-id="c3871-115">Valige tuvastamise tüüp, mille registreerite.</span><span class="sxs-lookup"><span data-stu-id="c3871-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="c3871-116">Näide: pass</span><span class="sxs-lookup"><span data-stu-id="c3871-116">Example: Passport</span></span>
8. <span data-ttu-id="c3871-117">Sisestage väärtus väljale Arv.</span><span class="sxs-lookup"><span data-stu-id="c3871-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="c3871-118">Valige väljal Esmane üksus Jah.</span><span class="sxs-lookup"><span data-stu-id="c3871-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="c3871-119">Sisestage väljale Kirjeldus ID-kirje lühikirjeldus.</span><span class="sxs-lookup"><span data-stu-id="c3871-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="c3871-120">Valige väljastanud asutuses esindus, mis töötajale tuvastamisvormi väljastas.</span><span class="sxs-lookup"><span data-stu-id="c3871-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="c3871-121">Näide: valitsus</span><span class="sxs-lookup"><span data-stu-id="c3871-121">Example: Government</span></span>
12. <span data-ttu-id="c3871-122">Sisestage kuupäev, mil väljastanud asutus töötajale tuvastamisvormi väljastas.</span><span class="sxs-lookup"><span data-stu-id="c3871-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="c3871-123">Näide: 15.02.2011</span><span class="sxs-lookup"><span data-stu-id="c3871-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="c3871-124">Sisestage tuvastamisvormi aegumise kuupäev.</span><span class="sxs-lookup"><span data-stu-id="c3871-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="c3871-125">Näide: 15.2.2021</span><span class="sxs-lookup"><span data-stu-id="c3871-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="c3871-126">Klõpsake nuppu Salvesta.</span><span class="sxs-lookup"><span data-stu-id="c3871-126">Click Save.</span></span>
15. <span data-ttu-id="c3871-127">Sulgege leht.</span><span class="sxs-lookup"><span data-stu-id="c3871-127">Close the page.</span></span>
16. <span data-ttu-id="c3871-128">Klõpsake vahekaarti Tööhõive.</span><span class="sxs-lookup"><span data-stu-id="c3871-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="c3871-129">Klõpsake suvandit I-9.</span><span class="sxs-lookup"><span data-stu-id="c3871-129">Click I-9.</span></span>
18. <span data-ttu-id="c3871-130">Klõpsake valikut Uus.</span><span class="sxs-lookup"><span data-stu-id="c3871-130">Click New.</span></span>
19. <span data-ttu-id="c3871-131">Valige suvand Töökõlblikkus.</span><span class="sxs-lookup"><span data-stu-id="c3871-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="c3871-132">Kui töötaja pole Ameerika Ühendriikide kodanik või elanik, peate sisestama töötaja välismaalase- või tunnustusnumbri.</span><span class="sxs-lookup"><span data-stu-id="c3871-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="c3871-133">Valige suvand GroupListA.</span><span class="sxs-lookup"><span data-stu-id="c3871-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="c3871-134">Loendi valik sõltub sellest, millise isikut tõendava dokumendi töötaja esitas.</span><span class="sxs-lookup"><span data-stu-id="c3871-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="c3871-135">Töötaja peab esitama ühe loendi A dokumendi või ühe dokumendi loenditest B ja C. Kui töötaja esitas näiteks passi, siis saab valida loendi A.</span><span class="sxs-lookup"><span data-stu-id="c3871-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="c3871-136">Kui töötaja esitas aga juhiloa ja sotsiaalkindlustuse kaardi, tuleb valida loend B ja loend C.</span><span class="sxs-lookup"><span data-stu-id="c3871-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="c3871-137">Valige töötaja esitatud dokumenditüüp väljalt I-9 dokumenditüüp.</span><span class="sxs-lookup"><span data-stu-id="c3871-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="c3871-138">Sisestage või valige väärtus väljal Dokumendi number.</span><span class="sxs-lookup"><span data-stu-id="c3871-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="c3871-139">Klõpsake nuppu Salvesta.</span><span class="sxs-lookup"><span data-stu-id="c3871-139">Click Save.</span></span>


