---
title: Tööhõive kinnitamise i9 kinnitamine
description: Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 16bfa0fd08feec1647829630401ce62ce2ffa1a4
ms.translationtype: HT
ms.contentlocale: et-EE
ms.lasthandoff: 08/02/2019
ms.locfileid: "1850775"
---
# <a name="employment-verification-i9-verification"></a>Tööhõive kinnitamise i9 kinnitamine

[!include [task guide banner](../../../includes/task-guide-banner.md)]

Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist. See protseduur annab ülevaate I-9 kontrollimiseks vajalike dokumentide registreerimise kohta. Kasutage selle protseduuri puhul ettevõtet USMF.

1. Avage Personaliarvestus > Töötajad > Töötajad.
2. Saate kirjete leidmiseks kasutada valikut Kiirfilter. Näiteks saate filtrida välja Nimi väärtuse Vince järgi.
3. Valige töötaja. Näide: Vince Prado
4. Laiendage kiirkaarti Isikuandmed.
5. Klõpsake suvandit ID-koodid.
6. Klõpsake Uus.
7. Valige tuvastamise tüüp, mille registreerite. Näide: pass
8. Sisestage väärtus väljale Arv.
9. Valige väljal Esmane üksus Jah.
10. Sisestage väljale Kirjeldus ID-kirje lühikirjeldus.
11. Valige väljastanud asutuses esindus, mis töötajale tuvastamisvormi väljastas. Näide: valitsus
12. Sisestage kuupäev, mil väljastanud asutus töötajale tuvastamisvormi väljastas. Näide: 15.02.2011
13. Sisestage tuvastamisvormi aegumise kuupäev. Näide: 15.2.2021
14. Klõpsake nuppu Salvesta.
15. Sulgege leht.
16. Klõpsake vahekaarti Tööhõive.
17. Klõpsake suvandit I-9.
18. Klõpsake valikut Uus.
19. Valige suvand Töökõlblikkus.
    * Kui töötaja pole Ameerika Ühendriikide kodanik või elanik, peate sisestama töötaja välismaalase- või tunnustusnumbri.  
20. Valige suvand GroupListA.
    * Loendi valik sõltub sellest, millise isikut tõendava dokumendi töötaja esitas. Töötaja peab esitama ühe loendi A dokumendi või ühe dokumendi loenditest B ja C. Kui töötaja esitas näiteks passi, siis saab valida loendi A. Kui töötaja esitas aga juhiloa ja sotsiaalkindlustuse kaardi, tuleb valida loend B ja loend C.  
21. Valige töötaja esitatud dokumenditüüp väljalt I-9 dokumenditüüp.
22. Sisestage või valige väärtus väljal Dokumendi number.
23. Klõpsake nuppu Salvesta.

