--- 
title: "Töökohale sobivuse kontrollimine vormi I-9 abil"
description: "Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 7e0a5d044133b917a3eb9386773205218e5c1b40
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: et-ee
ms.lasthandoff: 09/29/2017

---
# <a name="employment-verification-using-form-i-9"></a>Töökohale sobivuse kontrollimine vormi I-9 abil

[!include[task guide banner](../../../includes/task-guide-banner.md)]

Immigratsiooni reformi ja kontrollimise seadus nõuab USA tööandjatelt uute palgatud töötajate tööhõivekõlblikkuse oleku kinnitamist. See protseduur annab ülevaate I-9 kontrollimiseks vajalike dokumentide registreerimise kohta. Kasutage selle protseduuri puhul ettevõtet USMF.

1. Avage Personaliarvestus > Töötajad > Töötajad.
2. Saate kirjete leidmiseks kasutada valikut Kiirfilter. Näiteks saate filtrida välja Nimi väärtuse Vince järgi.
3. Valige töötaja. Näide: Vince Prado
4. Laiendage kiirkaarti Isikuandmed.
5. Klõpsake suvandit ID-koodid.
6. Klõpsake Uus.
7. Valige tuvastamise tüüp, mille registreerite. Näide: pass
8. Sisestage väärtus väljale Arv.
9. Valige väljal Esmane üksus Jah.
10. Sisestage väljale Kirjeldus ID-kirje lühikirjeldus.
11. Valige väljastanud asutuses esindus, mis töötajale tuvastamisvormi väljastas. Näide: valitsus
12. Sisestage kuupäev, mil väljastanud asutus töötajale tuvastamisvormi väljastas. Näide: 15.02.2011
13. Sisestage tuvastamisvormi aegumise kuupäev. Näide: 15.2.2021
14. Klõpsake nuppu Salvesta.
15. Sulgege leht.
16. Klõpsake vahekaarti Tööhõive.
17. Klõpsake suvandit I-9.
18. Klõpsake valikut Uus.
19. Valige suvand Töökõlblikkus.
    * Kui töötaja pole Ameerika Ühendriikide kodanik või elanik, peate sisestama töötaja välismaalase- või tunnustusnumbri.  
20. Valige suvand GroupListA.
    * Loendi valik sõltub sellest, millise isikut tõendava dokumendi töötaja esitas. Töötaja peab esitama ühe loendi A dokumendi või ühe dokumendi loenditest B ja C. Kui töötaja esitas näiteks passi, siis saab valida loendi A. Kui töötaja esitas aga juhiloa ja sotsiaalkindlustuse kaardi, tuleb valida loend B ja loend C.  
21. Valige töötaja esitatud dokumenditüüp väljalt I-9 dokumenditüüp.
22. Sisestage või valige väärtus väljal Dokumendi number.
23. Klõpsake nuppu Salvesta.


